fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pydantic[email]
email-validator
requests
python-multipart
psycopg2-binary
alembic
slowapi
bleach
Pillow
redis
fastapi-cache2[redis]
google-auth
jinja2
google-generativeai
pytest
httpx
imageio
imageio-ffmpeg
cloudinary
